GitRepo:
  name : Name of your GitHub Resource
  path : Path to GitHub Repo
BuildInfo:
  name : Name for your build Info Resource
  buildName : Name for your build info
ArtifactoryInt : Integration Name of Artifactory
GitProviderInt : Integration Name of Git Provider
Pipeline:
  name: Name of your pipeline
MvnBuild :
  name: Name of the Maven Build Step
DockerBuild:
  name: Name of the DockerBuild Step
  dockerImageName: Name of your Docker Image
DockerPush:
  name: Name of the DockerPush Step
